.project-card {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: -10px 10px 0 0px rgb(230, 230, 230),
    -10px 10px 0 2px rgb(247, 247, 247);
}
.project-card-img-container {
  width: 90%;
  margin: 0 auto;
  height: clamp(90px, 25vw, 180px);
  display: flex;
  justify-content: center;
}
.project-card img {
  overflow: hidden;
  height: 100%;
}
.projects-toggle-container p {
  padding-top: 15px;
}

.project-card .projects-toggle-container {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease, max-height 1s ease;
}

.project-card:hover .projects-toggle-container {
  opacity: 1;
  max-height: 1000px; /* Set a large value or use '100%' based on your content */
}

@media only screen and (max-width: 800px) {
  .project-card {
    width: 85%;
  }
  .project-card-img-container {
    width: 90%;
  }
}
